Question 12:

In [1]:
import numpy as np
import pandas as pd

In [2]:
energy_df = pd.read_csv ('energydata_complete.csv')
energy_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
x = energy_df[['T2']].values
y = energy_df[['T6']].values

In [4]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x, y)

y_pred = reg.predict(x)

The R-Squared value in two decimal place

In [5]:
from sklearn.metrics import r2_score
r2_score = r2_score(y, y_pred)
print(r2_score)
round(r2_score,2)

0.6418990830855493

0.64

Question 13:

In [7]:
energy_data = energy_df.drop(['date', 'lights'], axis = 1)
energy_data.head(3)

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(energy_data), columns=energy_data.columns)
features_data = normalised_data.drop(['Appliances'], axis=1)
target_variable = normalised_data['Appliances']

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_data, target_variable, test_size = 0.3, random_state=42)

In [10]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(x_train, y_train)

y_pred_lin = lin_reg.predict(x_test)

Mean_absolute_error in two decimal place

In [11]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred_lin)
print(mae)
round(mae,2)

0.05013362397742955

0.05

Question 14: Residual Sum of Squares in two decimal places

In [12]:
rss = np.sum(np.square(y_test - y_pred_lin))
print(rss)
round(rss,2)

45.34762967266377

45.35

Question 15: Root Mean Squared Error in three decimal place

In [13]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred_lin))
print(rmse)
round(rmse,3)

0.0875144494766171

0.088

Question 16: Coefficient of Determination in two decimal places

In [16]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred_lin)
print(r2)
round(r2,2)

0.14890246319303535

0.15

Question 17: Feature weights of the linear model

In [20]:
def get_model_weights(lin_reg, feat, col_name):
    model_weights = pd.Series(lin_reg.coef_, features_data.columns).sort_values()
    model_weights_df = pd.DataFrame(model_weights).reset_index()
    model_weights_df.columns = ['features_data', col_name]
    model_weights_df[col_name].round(2)
    return model_weights_df
linear_model_weights = get_model_weights(lin_reg, x_train, 'Linear_Model_Weight')
feature_weights = linear_model_weights
feature_weights.sort_values('Linear_Model_Weight')

   features_data  Linear_Model_Weight
0           RH_2            -0.456698
1          T_out            -0.321860
2             T2            -0.236178
3             T9            -0.189941
4           RH_8            -0.157595
5         RH_out            -0.077671
6           RH_7            -0.044614
7           RH_9            -0.039800
8             T5            -0.015657
9             T1            -0.003281
10           rv1             0.000770
11           rv2             0.000770
12   Press_mm_hg             0.006839
13            T7             0.010319
14    Visibility             0.012307
15          RH_5             0.016006
16          RH_4             0.026386
17            T4             0.028981
18     Windspeed             0.029183
19          RH_6             0.038049
20          RH_3             0.096048
21            T8             0.101995
22     Tdewpoint             0.117758
23            T6             0.236425
24            T3             0.290627
25          RH_1             0.553547

Question 18

In [21]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train)

y_pred_rid = ridge_reg.predict(x_test)

Root mean squared error with ridge regression

In [22]:
rmse_rid = np.sqrt(mean_squared_error(y_test, y_pred_rid))
print(rmse_rid)
round(rmse_rid,3)

0.08753385704628003

0.088

In [28]:
#rmse_rid is the new root mean squared error from the ridge regression model
#rmse is the root mean squared error from the linear regression model
if rmse_rid == rmse:
    print('No')

No

Question 19

In [29]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(x_train, y_train)

y_pred_las = lasso_reg.predict(x_test)

In [32]:
def get_model_weights(lasso_reg, feat, colname):
    model_weights = pd.Series(lasso_reg.coef_, features_data.columns).sort_values()
    model_weights_df = pd.DataFrame(model_weights).reset_index()
    model_weights_df.columns = ['features_data', colname]
    model_weights_df[colname].round(2)
    return model_weights_df
lasso_model_weights = get_model_weights(lasso_reg, x_train, 'Lasso_Model_Weight')
new_features_weight = lasso_model_weights
new_features_weight

   features_data  Lasso_Model_Weight
0         RH_out           -0.049557
1           RH_8           -0.000110
2             T1            0.000000
3      Tdewpoint            0.000000
4     Visibility            0.000000
5    Press_mm_hg           -0.000000
6          T_out            0.000000
7           RH_9           -0.000000
8             T9           -0.000000
9             T8            0.000000
10          RH_7           -0.000000
11           rv1           -0.000000
12            T7           -0.000000
13            T6            0.000000
14          RH_5            0.000000
15            T5           -0.000000
16          RH_4            0.000000
17            T4           -0.000000
18          RH_3            0.000000
19            T3            0.000000
20          RH_2           -0.000000
21            T2            0.000000
22          RH_6           -0.000000
23           rv2           -0.000000
24     Windspeed            0.002912
25          RH_1            0.017880

In [33]:
new_features_weight.loc[new_features_weight['Lasso_Model_Weight']!=0]

   features_data  Lasso_Model_Weight
0         RH_out           -0.049557
1           RH_8           -0.000110
24     Windspeed            0.002912
25          RH_1            0.017880

Question 20: Root mean squared error with lasso regression

In [34]:
rmse_las = np.sqrt(mean_squared_error(y_test, y_pred_las))
print(rmse_las)
round(rmse_las,3)

0.09358170467245137

0.094